body {
    width: 100vw;
    margin: 0 auto !important;
    overflow-x: hidden;
    display: flex;
    padding: 0;
}


body.fixed {
    overflow-y: hidden;
}


#root {
    position: relative;
    display: flex;
    width: 100%;
    overflow-x: hidden;
}



.main-container {
    position: relative;
}




.owl-prev, .owl-next {
    display: none;
}

.hamburger_container {
    display: none;
}

.browser-version {
    font-size: 11px;
}


.Mobile-panel {
    width: 0px;
}

.in-mobile-container {
    display: none;
}















@media (max-width: 991px) {
    .mobile-navbar {
        background-color: #243d5a;
        background: linear-gradient(to right, #213444, #3d4e6d);
        position: absolute !important;
        width: 100%;
        z-index: 3;
    }

    .hamburger_container {
        display: flex;
        align-items: center;
        z-index: 100;
    }
    
    
    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
    }
    
    
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background-color: #FFF;
        margin: 6px 0px;
        transition: 0.4s;
        z-index: 999;
        overflow-x: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #00000000;
        border-radius: 5px;
    }    
    
    

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-7px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-6px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }


    .header-content {
        padding-top: 50px;
    }

    .contact_container {
        padding-bottom: 0;
    }
    

    .Mobile-panel {
        opacity: 0;
        z-index: 0;
        display: flex;
        background-color: rgba(48, 48, 48, 0.596);
        height: 100vh;
        width: 100%;
        position: fixed;
        transition: opacity 0.3s ease-in-out;
    }
    
    .Mobile-panel.is-active {
        opacity: 1;
        z-index: 1;
    }

    .in-mobile-container {
        height: 100%;
        width: 80%;
        background-color: #192733;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .panel-option {
        margin: 0;
        padding: 0;
        color: rgba(255, 255, 255, 0.815);
    }

    .rimwe, .kabiri, .gatatu, .kane {
        /* background-color: rgba(190, 192, 187, 0.089); */
        height: 8%;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rimwe {
        height: 14%;
    }

    .rimwe > h1 {
        background-color: rgba(190, 192, 187, 0.089);
        padding: 20px;
        padding-left: 90px;
        padding-right: 90px;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.815);
        font-size: 20px;
    }
}


@media (max-width: 370px) {
    .rimwe > h1 {
        padding: 15px;
        padding-left: 70px;
        padding-right: 70px;
    }

    .start-intro {
        font-size: 15px;
    }

}

@media (max-width: 320px) {
    .rimwe > h1 {
        font-size: 13px;
    }

    .rimwe, .kabiri, .gatatu, .kane {
        height: 8%;
    }

    .panel-option {
        font-size: 12px;
    }
}

